<div id="download-source">
<h3>Download Git</h3> 
<div class="inner">
  <div class="center pad">
    The latest stable Git release is 
    <div id="current-release">
      <div id="ver">v<%= @version %></div>
    </div>
    <a href="http://www.kernel.org/pub/software/scm/git/docs/RelNotes-<%= @version %>.txt">release notes</a>
    <small>(<%= @date %>)</small>
  </div>
	<table><tr><td width="33%">
	  <div class="center"><a href="http://code.google.com/p/msysgit/downloads/list?can=3"><img src="images/windows_big.png"></a></div>
  </td><td width="33%">
	  <div class="center"><a href="http://code.google.com/p/git-osx-installer/downloads/list?can=3"><img src="images/osx_big.png"></a></div>
	</td><td width="33%">
    <div class="center"><a href="http://kernel.org/pub/software/scm/git/git-<%= @version %>.tar.bz2"><img src="images/tux_big.png"></a></div>
  </td></tr>
  <tr><td>
		  <div class="center"><a href="http://code.google.com/p/msysgit/downloads/list?can=3">Windows</a></div>
  	</td><td>
		  <div class="center"><a href="http://code.google.com/p/git-osx-installer/downloads/list?can=3">Mac OSX</a></div>
  	</td><td>
      <div class="center"><a href="http://kernel.org/pub/software/scm/git/git-<%= @version %>.tar.bz2">Source</a></div>
	</td></tr></table>
	<div class="center">
	  <% if controller.action_name != 'download' %>
	    <a href="/download">Other Download Options</a><br/>
	  <% else %>
      <a href="http://www.kernel.org/pub/software/scm/git/">Older Releases</a><br/>
	  <% end %>
	  <a href="http://git.kernel.org/?p=git/git.git;a=summary">Git Source Repository</a>
	</div>
</div>
</div>

<script type="text/javascript">
  $(function() {
    $('#download-source').corner();
    $('.inner').corner();
  });
</script>
