<div id="download-source">
<h3>Download Git</h3> 
<div class="inner">
  <div class="center pad">
    The latest stable Git release is 
    <div id="current-release">
      <div id="ver">v<%= @version %></div>
    </div>
    <a href="http://www.kernel.org/pub/software/scm/git/docs/RelNotes-<%= @version %>.txt">release notes</a>
    <small>(<%= @date %>)</small>
  </div>
	<table><tr><td align="center">
		<img width="60" src="images/tar.png" alt="Tar.Bz2 Download"><br>
		<a href="http://kernel.org/pub/software/scm/git/git-<%= @version %>.tar.bz2">tar.bz2</a>
		<a href="http://kernel.org/pub/software/scm/git/git-<%= @version %>.tar.bz2.sign">(sign)</a>
	</td><td align="center">
		<img width="60" src="images/tar.png" alt="Tar.Gz Download"><br>
		<a href="http://kernel.org/pub/software/scm/git/git-<%= @version %>.tar.gz">tar.gz</a>
		<a href="http://kernel.org/pub/software/scm/git/git-<%= @version %>.tar.gz.sign">(sign)</a>
<!--
  </td><td align="center">
		<img width="60" src="images/zip.png" alt="Zip Download"><br>
		<a href="/downloads/git-<%= @version %>.zip">zip</a>
		<a href="/downloads/git-<%= @version %>.zip.sign">(sign)</a>
-->
	</td></tr></table>
	<div class="center">
	  <a href="http://kernel.org/pub/software/scm/git/">More versions</a><br>
	</div>
</div>
</div>

<script type="text/javascript">
  $(function() {
    $('#download-source').corner();
    $('.inner').corner();
  });
</script>