<div id="download-source">
<h3>Download Git</h3> 
<div class="inner">
  <div class="center pad">
    The latest stable Git release is 
    <div id="current-release">
      <div id="ver">v<%= @version %></div>
    </div>
    <a href="http://www.kernel.org/pub/software/scm/git/docs/RelNotes-<%= @version %>.txt">release notes</a>
    <small>(<%= @date %>)</small>
  </div>
	<table><tr><td>
	  <div class="center">
		  <img width="60" src="images/tar.png" alt="Tar.Bz2 Download" /><br/>
		  <a href="http://kernel.org/pub/software/scm/git/git-<%= @version %>.tar.bz2">tar.bz2</a>
		  <a href="http://kernel.org/pub/software/scm/git/git-<%= @version %>.tar.bz2.sign">(sign)</a>
		</div>
	</td><td>
	  <div class="center">
		  <img width="60" src="images/tar.png" alt="Tar.Gz Download" /><br/>
		  <a href="http://kernel.org/pub/software/scm/git/git-<%= @version %>.tar.gz">tar.gz</a>
		  <a href="http://kernel.org/pub/software/scm/git/git-<%= @version %>.tar.gz.sign">(sign)</a>
		</div>
<!--
  </td><td>
    <div class="center">
		  <img width="60" src="images/zip.png" alt="Zip Download"><br>
		  <a href="/downloads/git-<%= @version %>.zip">zip</a>
		  <a href="/downloads/git-<%= @version %>.zip.sign">(sign)</a>
		</div
-->
	</td></tr></table>
	<div class="center">
	  <% if controller.action_name != 'download' %>
	    <a href="/download">Other Download Options</a><br>
	  <% else %>
      <a href="http://www.kernel.org/pub/software/scm/git/">Older Releases</a><br/>
	  <% end %>
	  <a href="http://git.kernel.org/?p=git/git.git;a=summary">Source and History</a>
	</div>
</div>
</div>

<script type="text/javascript">
  $(function() {
    $('#download-source').corner();
    $('.inner').corner();
  });
</script>
