<div id="results" class="search-results">  
  <form id="sr-searchbox">
  <div class="stitle">
    <div id="sr-form">
      <center>
      <input name="search" id="sr-searchterm" value="<%= @search %>">
      <input type="submit" value="Search">
      </center>
    </div>
  </div>
  </form>

  <% if @command %>
    <div class="doc-section">
      <div class="flag <%= @command.level %>"><%= @command.level %></div>
      <div class="sr-title">
        <%= @command.full_command %>
      </div>
      <div class="sr-desc"><%= @command.description %></div>
      <div class="sr-usage"><pre><%= @command.clean_usage %></pre></div>
      <div class="sr-links">
        <small><%= link_to 'command page', command_url(:command => @command.clean_command) %></small> &nbsp;
        <small><%= link_to 'manual page', manual_url(:command => @command.clean_command) %></small> &nbsp;
        <small><%= link_to 'category page' %></a></small>
      </div>
    </div>
    
    <% if options = @command.manual.options %>
    <div class="doc-section">
      <h2>Options</h2>
      <%= options.text.gsub("\n", '<br/>') %>
    </div>
    <% end %>

    <% if @command.has_examples? %>
      <div class="doc-section">
        <h2>Examples</h2>
      </div>
    <% end %>
    
    <% if @command.has_book_chapters? %>
      <div class="doc-section">
        <h2>Book</h2>
        (go to chapter)
      </div>
    <% end %>
    
    <% if @command.has_manual_pages? %>
      <div class="doc-section">
        <h2>Related Tools</h2>
           - go to chapter
      </div>
    <% end %>
    
  <% end %>
  <br/>
  
  <script type="text/javascript">
    $(function() {
      $('#sr-searchbox').submit(function() {
        term = $('#sr-searchterm').val();
        $.get('/page/searchbox?update=1&search=' + term, function(data) {
          $('#results').html(data);
        });
        $('#sr-searchterm').focus();
        return false;
      });
    });
  </script>
  
</div>
